<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>My First Spring boot Application</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<div class="header">
    <h1>My First Spring Boot Application</h1>
</div>
<div class="header">
    <h2>ИД23-1 Маслов АН</h2>
</div>
<div th:if="${param.error}" class="header alert">
    Такой пользователь уже существует.
</div>
<div>
    <form th:action="@{/register}" th:object="${user}" method="post" class="database-table-edit_form auth-form">
        <input type="email" th:field="*{email}" required placeholder="example@mail.com">
        <input type="password" th:field="*{password}" required placeholder="password">
        <a th:href="@{/login}">Вход</a>
        <button type="submit" class="database-table-button">Регистрация</button>
    </form>
</div>
</body>
</html>