/ПпП/Maslov_id23_1
/ССП/1_echo_srv
Курс 3/ТОБД/10_parallel_processing/sem/recipes_full.csv
/Курс 3/ТОБД/11_dask/dask/reviews_full_json
Курс 2/ПпП/Maslov_id23_1/
Курс 3/ТОБД/11_dask/dask/_sem___/_sem___/recipes_full.csv
*.csv
*.csv
