<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Today</title>
</head>
<body>
<p>My First Spring boot Application</p>
<h2>ИД23-1 Маслов АН</h2>
<p> Today is: <span th:text="${pets}"> </span></p>
<table>
    <thead>
    <th>Id</th>
    <th>Owner_name</th>
    <th>Petname</th>
    <th>Species</th>
    </thead>
    <tr th:each="pet:${pets}">
        <td><fieldset><input type="number" th:value="${pet.id}"></fieldset></td>
        <td><fieldset><input type="text" th:value="${pet.owner_name}"></fieldset></td>
        <td><fieldset><input type="text" th:value="${pet.petname}"></fieldset></td>
        <td><fieldset><input type="text" th:value="${pet.species}"></fieldset></td>
        <td> <a th:href="@{/update/{id}(id=${pet.id}, owner_name=${pet.owner_name}, petname=${pet.petname}, species=${pet.species})}">Change</a></td>
        <td> <a th:href="@{/delete/{id}(id=${pet.id})}">Delete</a></td>
    </tr>
</table>
<a th:href="@{/add}">New pet</a>
</body>
</html>