<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Today</title>
</head>
<body>
<p>My First Spring boot Application</p>
<h2>ИД23-1 Маслов АН</h2>
<p> Today is: <span th:text="${today}"> </span></p>
<table>
    <thead>
    <th>Id</th>
    <th>Owner_name</th>
    <th>Petname</th>
    <th>Species</th>
    </thead>
    <tr th:each="pet:${pets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.owner_name}"></td>
        <td th:text="${pet.petname}"></td>
        <td th:text="${pet.species}"></td>
        <td> <button>ttt</button></td>
        <td> <button>ttt</button></td>
    </tr>
</table>
</body>
</html>