<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <title>My First Spring boot Application</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<div class="header">
    <h1>My First Spring Boot Application</h1>
</div>
<div class="header">
    <h2>ИД23-1 Маслов АН</h2>
</div>

<table class="database-table">
    <thead class="database-table-headers">
    <th>Id</th>
    <th>Имя владельца</th>
    <th>Имя питомца</th>
    <th>Вид питомца</th>
    </thead>
    <tr th:each="pet:${pets}" class="database-table-rows">
        <th:block th:if="${pet.id == updatingId}">
            <td colspan="6" class="database-table-td_edit">
                <form th:action="@{/save}" th:object="${pet}" method="post" class="database-table-edit_form">
                    <input type="number" readonly placeholder="Id" th:field="*{id}">
                    <input type="text" required placeholder="Имя владельца" th:field="*{owner_name}">
                    <input type="text" required placeholder="Имя питомца" th:field="*{petname}">
                    <input type="text" required placeholder="Вид питомца" th:field="*{species}">
                    <button type="submit" onclick="return confirm('Вы уверены?')" class="database-table-button">Сохранить</button>
                    <a th:href="@{/}" >
                        <div class="database-table-button">
                            Отмена
                        </div>
                    </a>
                </form>
            </td>
        </th:block>
        <th:block th:if="${pet.id != updatingId}">
            <td><fieldset><input type="number" readonly placeholder="Id" th:value="${pet.id}"></fieldset></td>
            <td><fieldset><input type="text" readonly placeholder="Имя владельца" th:value="${pet.owner_name}"></fieldset></td>
            <td><fieldset><input type="text" readonly placeholder="Имя питомца" th:value="${pet.petname}"></fieldset></td>
            <td><fieldset><input type="text" readonly placeholder="Вид питомца" th:value="${pet.species}"></fieldset></td>
            <td>
                <a sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" th:href="@{/edit/{id}(id=${pet.id})}" class="database-table-button">
                    <div >
                        Изменить
                    </div>
                </a>

            </td>
            <td>
                <a sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" th:href="@{/delete/{id}(id=${pet.id})}" onclick="return confirm('Вы уверены?')" class="database-table-button">
                    <div >
                        Удалить
                    </div>
                </a>
            </td>
        </th:block>

    </tr>
</table>
<a sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" th:href="@{/add}" class="database-table-new_row database-table-button">
    <div >
        Новая строка
    </div>
</a>

<a th:href="@{/logout}">Выйти</a>
</body>
</html>